---
layout: default
---

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <article class="entry-wrap">
      <div class="entry-content">
        {{ content }}
      </div>
      {% if site.disqus.shortname %}
        {% include disqus_comments.html %}
      {% endif %}
    </article>
  </div>
</main>
posts without an s
<div id="hyvor-talk-view"></div>
<script type="text/javascript">
    var HYVOR_TALK_WEBSITE = 679; // DO NOT CHANGE THIS
    var HYVOR_TALK_CONFIG = {
        url: "https://jadhavsujit4.github.io/blogging"
        id: "5475"
    };
</script>
<script async type="text/javascript" src="//talk.hyvor.com/web-api/embed"></script>